<div class="hero-unit">
	<h1>Welcome to SAD</h1>
	<p>
		You have found the Offical Webpage for the group SAD!
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>